/* Applies box sizing, padding, and margin properties to the entire document */
* {
    /* Border box property allows us to include the padding and border in an element's total width and height. */
    box-sizing: border-box;
    /* Sets padding to 0 */
    padding: 0;
    /* Sets margin to 0 */
    margin: 0;
}

/* Applies background color to body of document  */
body {
    /* Sets background color to light gray */
    background-color: #d9dcd6;
}

/* Applies padding, font family, background color and font color properties to header */
header {
    /* Sets padding to 20 pixels */
    padding: 20px;
    /* Sets font famuly to "Trebubchet MS". If that font is unavailable, there are "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", and "sans-serif" as back-ups if necessary */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Sets background color to blue */
    background-color: #2a607c;
    /* Sets font color to white */
    color: #ffffff;
}

/* Applies display and font size properties to "h1" text within "header" */
header h1 {
    /* Does not require line break after element. Allows other elements to sit next to this element on the page */
    display: inline-block;
    /* Sets font size to 48 pixels */
    font-size: 48px;
}

/* Applies font color properties to "seo" Class */
.seo {
    /* Sets font color to gray */
    color: #d9dcd6;
}

/* Applies padding, margin, position, font family, and font size properties to "nav" */
nav {
    /* Sets top padding to 15 pixels */
    padding-top: 15px;
    /* Sets right margin to 20 pixels */
    margin-right: 20px;
    /* Positions this element to the right of the page */
    float: right;
    /* Sets font family to "Gill Sans". If that font is unavalable, there are "Calibri", "Trebuchet MS", and "sans-serif" as back ups if necessary */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* Sets font size to 20 pixels */
    font-size: 20px;
}

/* Applies style for the "unordered list" within the "nav" within "header"*/
ul {
    /* Sets the marker for the unordered list as "none" */
    list-style-type: none;
}

/* Applies display and margin properties for the list items with the "unordered list" within the "nav" within "header"*/
li {
    /* Does not require line break after element. Allows other elements to sit next to this element on the page */
    display: inline-block;
    /* Sets left margin to 25 pixels */
    margin-left: 25px;
}

/* Applies font color and text decoration properties to "a" (The links within the Navigation bar) */
a {
    /* Sets font color to white */
    color: #ffffff;
    /* Sets text decoration to "none". (Ensures the link does not recieve default underline) */
    text-decoration: none;
}

/* Applies font size to "p" (all paragraphs) */
p {
    /* Sets font size to 16 pixels */
    font-size: 16px;
}

/* Applies height, width, margin, image, background size, and background position properties to "main-image" Class */
.main-image {
    /* Sets image height to 800 pixels */
    height: 800px;
    /* Sets image width to 100% */
    width: 100%;
    /* Sets bottom margin to 25 pixels */
    margin-bottom: 25px;
    /* Sets what image the html document will display */
    background-image: url("../images/digital-marketing-meeting.jpg");
    /* Sets background size to cover. (Matches image display to page size) */
    background-size: cover;
    /* Centers image in middle of page */
    background-position: center;
}

/* Sets float position and margin properties for "float-left" class */
.float-left {
    /* Postions to the class to the left of the page */
    float: left;
    /* Sets right margin to 25 pixels */
    margin-right: 25px;
}

/* Sets float position and margin properties for "float-right" class */
.float-right {
    /* Postions the class to the right of the page */
    float: right;
    /* Sets right margin to 25 pixels */
    margin-left: 25px;
}

/* Applies wideth, display and margin properties to "main" */
main {
    /* Sets width to 75% */
    width: 75%;
    /* Does not require line break after element. Allows other elements to sit next to this element on the page */
    display: inline-block;
    /* Sets left margin to 20 pixels */
    margin-left: 20px;
}

/* Applies margin, padding, height, font family, background, and font color properties to "section" within "main" */
main section {
    /* Sets bottom margin to 20 pixels */
    margin-bottom: 20px;
    /* Sets padding to 50 pixels */
    padding: 50px;
    /* Sets height to 300 pixels */
    height: 300px;
    /* Sets font family to "Gill Sans". If that font is unavalable, there are "Calibri", "Trebuchet MS", and "sans-serif" as back ups if necessary */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* Sets background color to blue */
    background-color: #0072bb;
    /* Sets font color to white */
    color: #ffffff;
}

/* Applies height properties to "img" within "main" */
main img {
    /* Sets height to 200 pixels */
    max-height: 200px;
}

/* Sets margin and font size properties to "h2" within "main" */
main h2 {
    /* Sets bottom margin to 20 pixels */
    margin-bottom: 20px;
    /* Sets font size to 36 pixels */
    font-size: 36px;
}

/* Sets margin, padding, position, width, height, font family, and background properties to "benifits" class */
.benefits {
    /* Sets right margin to 25 pixels */
    margin-right: 20px;
    /* Sets bottom margin to 32 pixles */
    padding: 20px;
    /* Controls flow next to floated elements */
    clear: both;
    /* Postions the class to the right of the page */
    float: right;
    /* Sets width to 20% */
    width: 20%;
    /* Sets height to 100% */
    height: 100%;
    /* Sets font family to "Gill Sans". If that font is unavalable, there are "Calibri", "Trebuchet MS", and "sans-serif" as back ups if necessary */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* Sets background color to blue */
    background-color: #2589bd;
    color: #ffffff;
}

/* Appplies margin and font color to "section" with "benefits" class */
.benefits section {
    /* Sets bottom margin to 32 pixels */
    margin-bottom: 32px;
    /* Sets font color to white */
    color: #ffffff;
}

/* Applies margin and text alignment properties to "h3" within "benefits" class */
.benefits h3 {
    /* Sets bottom margin to 10 pixels */
    margin-bottom: 10px;
    /* Align text to center of parent */
    text-align: center;
}

/* Applies display, margin, and width properties to "img" within "benefits" class */
.benefits img {
    /* Specifies display property to "block" (elemnent start on a new line and takes up max width" */
    display: block;
    /* Sets margin to 10 pixels */
    margin: 10px auto;
    /* Sets max width to 150 pixles */
    max-width: 150px;
}

/* Applies padding, position, font family, and text alignment properties for "footer" */
footer {
    /* Sets padding to 30 pixels */
    padding: 30px;
    /* Controls flow next to floated elements */
    clear: both;
    /* Sets font family to "Gill Sans". If that font is unavalable, there are "Calibri", "Trebuchet MS", and "sans-serif" as back ups if necessary */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Sets text alignment to "center" */
    text-align: center;
}

/* Applies font size properties for "h2" within "footer" */
footer h2 {
    /* Sets font size to 20 pixels */
    font-size: 20px;
}

/* Apples font size to properties "small" */
small {
    /* Sets font size to 16 pixels */
    font-size: 16px;
}